@use '../../Styles/mixin.scss' as *;
.collection-car-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  border-radius: 1.25rem;
  position: relative;

  &__img-ctn {
    height: 15rem;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    img {
      max-width: 100%;
      background-color: gray;
      background-size: cover;
    }
  }
  &__info-ctn {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    padding: 1rem 2rem;
  }

  &__delete-icon {
    @include setDeleteButtonStyle;
  }

  @include tablet {
    width: 45%;
  }
}
