@use '../../Styles/mixin.scss' as *;

.collection {
  padding: 0 1rem;
  position: relative;
  background-image: url('../../Assets/images/felix-fuchs-PoPsSRju8Y8-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  .nav {
    z-index: 1;
  }
  &__heading {
    z-index: 1;
    @include setPageHeadingStyle;
  }
  &__search-box {
    z-index: 1;
  }
  &__add-btn {
    z-index: 1;
  }
  .card-ctn {
    z-index: 1;
  }

  .overlay {
    @include serOverlayStyle;
  }
  @include tablet {
    padding: 0 2rem;
    .card-ctn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
