@use '../../Styles/mixin.scss' as *;

.landing {
  margin: 2rem 1rem;
  position: relative;
  &__heading {
    @include setPageHeadingStyle;
    position: absolute;
    width: 100%;
  }

  &__text {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 6rem;
  }
  .gallery {
    margin: 0 -1rem;
    height: 65vw;
    overflow: hidden;
    position: absolute;
    top: 16rem;
    &__image {
      max-height: 65vw;
      width: 100vw;
      height: auto;
    }

    &__navigation {
      position: absolute;
      top: 12rem;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;

      .prev-chevron {
        @include setChevronStyle;
      }

      .next-chevron {
        @include setChevronStyle;
      }
    }
  }

  &__start-btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin-top: 2rem;
    position: absolute;
    top: 33rem;
    width: 100%;
  }
  .form-overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 24, 44, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
    justify-content: space-around;
    .content {
      position: absolute;
      text-align: left;
      z-index: 5;
      top: 10rem;
      left: 2.5rem;
      width: 80%;
      padding: 1rem 2rem;
      background-color: white;
      border-radius: 1.25rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      .form-switch {
        display: flex;
        justify-content: end;
        .form-check-label {
          padding-left: 1rem;
          order: 2;
        }
      }
    }
  }

  @include tablet {
    width: 100%;
    padding: 8rem 4rem;
    position: unset;
    display: flex;
    .non-gallery-ctn {
      padding-left: 2rem;
    }
    &__heading {
      text-align: unset;
      position: unset;
      padding: 0;
    }

    &__text {
      text-align: left;
      position: unset;
      padding-top: 1rem;
    }
    .gallery {
      position: unset;
      margin: unset;
      max-width: 35%;
      height: auto;
      &__image {
        border-radius: 20px;
        max-height: 65vw;
        width: 100%;
      }
      &__navigation {
        display: flex;
        justify-content: start;
        top: 15rem;
        left: 4rem;
        width: unset;
        .prev-chevron {
          @include setChevronStyle;
        }

        .next-chevron {
          @include setChevronStyle;
        }
      }
    }

    &__start-btn {
      position: unset;
      margin: 0;
      width: 35%;
    }

    .form-overlay {
      .content {
        left: 6rem;
        top: 20rem;
      }
    }
  }
}
