// mobile first approach, therefore default styling is for mobile
// only one additional styling set for tablet
@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin setChevronStyle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  color: white;
}

@mixin setPageHeadingStyle {
  padding-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

@mixin setDeleteButtonStyle($right: 1rem, $bottom: 5rem) {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: $right;
  bottom: $bottom;
  color: crimson;
}

@mixin serOverlayStyle() {
  z-index: 0;
  position: absolute; /* Position the overlay relative to the container */
  top: 0; /* Align the overlay to the top of the container */
  left: 0; /* Align the overlay to the left of the container */
  width: 100%;
  height: 100%;
  background-color: rgba(
    249,
    243,
    243,
    0.8
  ); /* Set the overlay color with 50% opacity */
}
